@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Ringbearer";
    src: url("/assets/caas/font/RINGM___.TTF");
}

@font-face {
    font-family: "Enchanted";
    src: url("/assets/caas/font/Enchanted Land.otf");
}

@font-face {
    font-family: "Vinque";
    src: url("/assets/caas/font/vinque.ttf");
}

@font-face {
    font-family: "Blackcha";
    src: url("/assets/caas/font/BLKCHCRY.TTF");
}

